body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
    color: #333;
    text-align: center;
    padding-top: 100px;
}

.container {
    background: white;
    padding: 40px;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #0078D7;
}